@media (max-width: 768px) {
    .logo{
        width: 15%;
        margin-top: -3%;
    }

    .name {
        font-size: xx-large;
    }
}

@media (max-width: 650px) {
    .logo{
        width: 17%;
        margin-top: -3%;
    }

    .name {
        font-size: xx-large;
    }
}

@media (max-width: 591px) {
    .logo{
        width: 19%;
        margin-top: -3%;
    }

    .name {
        font-size: xx-large;
    }
}

@media (max-width: 576px) {
    .logo{
        width: 13%;
        margin-top: -3%;
    }

    .name {
        font-size: xx-large;
    }
}

@media (max-width: 466px) {
    .logo{
        width: 15%;
        margin-top: -3%;
    }

    .name {
        font-size: x-large;
    }
}

@media (max-width: 371px) {
    .logo{
        width: 20%;
        margin-top: -3%;
    }

    .name {
        font-size: x-large;
    }
}

.logo{
    width: 15%;
    margin-top: -3%;
}

.custom-navbar-toggle{
    margin-right: 0 !important;
}

.nav{
    background-color: #52AEA1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
}

.name{
    color: white;
    font-size: xx-large;
    text-shadow: 
      -1px -1px 0 rgb(228,161,103),  
       1px -1px 0 rgb(228,161,103),
      -1px  1px 0 rgb(228,161,103),
       1px  1px 0 rgb(228,161,103);
    font-family: cursive;
}

.navbar-nav a{
    color: white;
}

.navbar-nav a:hover{
    color: rgb(228,161,103);
}

.banner-div {
    position: relative;
    width: 100%;
    height: 90vh;
    overflow: hidden;
}
  
.banner {
    width: 100%;
    height: 100%;
    animation: fadeOut 1s forwards;
    transition: opacity 1s ease-in-out;
}
  
@keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0.3;
    }
}
  
.head {
    padding-left: 25%;
    font-family: cursive;
}
  
.welcome-message {
    position: absolute;
    width: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #52AEA1;
    animation: fadeIn .7s forwards .7s;
    font-size: 4vw;
    font-weight: 900;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    text-shadow: 
      -1px -1px 0 black,  
      1px -1px 0 black,
      -1px 1px 0 black,
      1px 1px 0 black;
}
  
@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

.welcome-message.hidden {
    animation: fadeOut-later .5s forwards !important;
}
  
.banner-div.scrolled .banner {
    animation: fadeIn-later .5s backwards !important;
}

@keyframes fadeOut-later {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}

@keyframes fadeIn-later {
    0% {
      opacity: 0.3;
    }
    100% {
      opacity: 1;
    }
}

.cat-animation-div{
    position: absolute;
    transform: translate(-66%, -40%);
    width: 150%;
    padding-right: -100vh;
}

.fish-animation-div{
    position: absolute;
    transform: translate(180%, -110%);
    width: 50%;
}

.dog-animation-div{
    position: absolute;
    transform: translate(180%, -20%);
    width: 50%;
}

