html {
    height: 100%;
    margin: 0px;
    padding: 0px;
    position: relative;
}

.login-div {
    height: 90vh !important;
    width: 100%;
    background-color: white;
    position: absolute;
    background-image: url('../images/login-bg.jpg'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
}

input[type='text'], 
input[type='email'],
input[type='password'] {
    appearance: none;
    border: none;
    outline: none;
    border-bottom: .2em solid rgb(228,161,103);
    background: #52AEA1;
    border-radius: .2em .2em 0 0;
    padding: .4em;
    color: black;
    width: 330px !important;
}

::placeholder {
    text-align: center;
    color: black;
    opacity: .8; 
}

.container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Adjust opacity here (0.5 for 50% opacity) */
    z-index: 1;
}

.form-div {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #52AEA1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 70vh; /* Make the form container fill its parent */
    width: 60vh;
    z-index: 1;
}

.form-div-img {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgb(255, 255, 255);
    background-image: url('../images/login-dog.png');
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 70vh; /* Make the form container fill its parent */
    width: 60vh;
    z-index: 1;
    transition: background-image 1s ease-in-out;
}

.cat-img {
    background-image: url('../images/catimg.png'), radial-gradient(circle, rgb(232,60,37), rgb(201,4,20));
    background-size: cover;
    background-position: center;
}


button {
    border: 2px solid rgb(228,161,103);
    border-radius: 5px;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #52AEA1;
}

button:hover{
    background-color: rgb(232,60,37);
    color: white;
}

.cat-img {
    background-image: url('../images/catimg.png'), radial-gradient(circle, rgb(232,60,37), rgb(201,4,20));
    background-size: cover;
    background-position: center;
}


.logo-div{
    margin-top: -5%;
}

.logo-div .name{
    font-size: large;
}

.logo-div .logo{
    width: 20%;
}

.move-link:hover{
    cursor: pointer;
    font-weight: 900;
}
