/* .pet-list-div {
    height: 90vh !important;
    width: 100%;
    background-color: white;
    position: absolute;
    background-image: url('../images/pets-bg.jpg');
    background-size: cover;
    background-position: center;
}

.pet-list-div::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.pet-div {
    z-index: 1;
}

.pet-card-div{
    display: flex;
    gap: 20px;
}

.pet-card{
    background-color: #52AEA1;
    width: 20%;
    border-radius: 10px;
}
.pet-img{
    display: flex;
    align-items: center;
    justify-content: center;
}

.pet-content-div{
    display: flex;
    justify-content: space-between;
}
.view-btn{
    border-radius: 16px;
    width: 100%;
} */