.pet-form-div {
    height: 90vh !important;
    width: 100%;
    background-color: white;
    position: absolute;
    background-image: url('../images/pets-form-bg.jpg');
    background-size: cover;
    background-position: center;
}

.pet-form-div::before {
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

select{
    background-color: #52AEA1;
    border: none;
    border-bottom: 4px solid rgb(228,161,103);;
}

option{
    background-color: white;
}