.pet-details-div{
    width:100vh;
    height: 50vh;
    background-color: red;
    margin-top: -15%;
}

.details-div{
    background-image: url('../images/pet_details_bg.jpg');
    background-size: cover;
    background-position: center;
    height: 90vh;
}