.user-details-div {
    background-image: url('../images/user-details-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
}

.user-details {
    text-align: center;
    width:60vh;
    height:80vh;
    background-color: #52AEA1;
    border-radius: 16px;
    padding: 15px;
}

.user-data {
    gap: 20%;
    padding-left: 20%;
    padding-right: 20%;
}

.data-fields {
    padding: 16px;
    height: fit-content;
}